header, footer{
    text-align: center;
}

body {
    background-color: rgb(127, 150, 255);
}

section {
    margin: 20px auto;
    width: 900px;
    background-color: aliceblue;
    border: 1px solid rgb(88, 84, 84, 0.8);
    box-shadow: 5px 5px 10px grey;
    border-radius: 20px;
    padding: 10px 0px;
}

form {
    text-align: left;
    padding: 40px;
}

input {
    margin-bottom: 10px;
}

#result {
    height: 190px;
    width: 100px;
    background-color: #c1ffea;
}